main {
  width: 100%;
  min-height: 90vh;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

main div {
  display: flex;
  text-align: center;
}

section {
  width: 100%;
  min-height: 80vh;
  display: flex;
}

.col {
  flex-direction: column;
}
.col-center {
  justify-content: center;
  align-items: center;
}
.row {
  flex-direction: row;
}
.row-wrap {
  flex-wrap: wrap;
}

.wp-50 {
  width: 50%;
}

/* SIZES */
.hpx-100 {
  min-height: 100px;
  height: 100px;
}
.hpx-200 {
  min-height: 200px;
  height: 200px;
}
.hpx-300 {
  min-height: 300px;
  height: 300px;
}
.hpx-400 {
  min-height: 400px;
  height: 400px;
}

.wpx-100 {
  min-width: 100px;
  width: 100px;
}
.wpx-200 {
  min-width: 200px;
  width: 200px;
}
.wpx-300 {
  min-width: 300px;
  width: 300px;
}
.wpx-400 {
  min-width: 400px;
  width: 400px;
}

.wpe-25 {
  min-width: 25%;
  width: 25%;
}
.wpe-50 {
  min-width: 50%;
  width: 50%;
}
.wpe-100 {
  min-width: 100%;
  width: 100%;
}

/* COLORS */
.bc1 {
  background-color: var(--color-1) !important;
}
.bc2 {
  background-color: var(--color-2) !important;
}
.bc3 {
  background-color: var(--color-3) !important;
}
.bc4 {
  background-color: var(--color-4) !important;
}

.c1 {
  color: var(--color-1) !important;
}
.c2 {
  color: var(--color-2) !important;
}
.c3 {
  color: var(--color-3) !important;
}
.c4 {
  color: var(--color-4) !important;
}

/* FONTS */
.fs1 {
  font-size: 16px;
}

.fs2 {
  font-size: 20px;
}

.fs3 {
  font-size: 24px;
}

.fs4 {
  font-size: 28px;
}
