:root {
  --color-1: #e6e3e3; /* 60% */
  --color-2: #525252; /* 30% */
  --color-3: #124236; /* 5% */
  --color-4: #000000; /* 5% */
  --color-white: #fff;
}

@font-face {
  font-family: "RobotoRegular";
  src: local("RobotoRegular"),
    url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoMedium";
  src: local("RobotoMedium"),
    url("./fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}

html,
body,
#root,
.App {
  background-color: var(--color-1);
  min-height: 100vh;
  max-width: 100vw;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "RobotoRegular";
}

.App {
  display: flex;
  flex-direction: column;
}
.App.app-authed {
  flex-direction: row;
}

.Page {
  background-color: var(--color-1);
  min-height: 90vh;
}
